.body {
  background-color: rgb(255, 255, 255);
}
.container {
  margin-bottom: 70px;
}
.buy-now-btn {
  color: white;
  background-color: black;
  border-radius: 7px;
  padding: 5px 10px;
}
.carousel {
  border-radius: 20px;
}
.carousel h2,
p {
  color: white;
}
.carousel-item {
  padding: 20px 30px;
}
.smartphone p {
  color: black;
}
.smartphone img {
  padding: 40px 60px;
}
.laptop p {
  color: black;
}
.smartphone .card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
.laptop .card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
.see-all {
  color: orange;
}
.cat1 img {
  padding: 30px;
  margin-left: 10px;
}
.a img {
  padding: 30px;
  margin-bottom: 15px;
}
.b img {
  padding: 30px;
}
.cat1 h5 {
  margin-top: -12px;
  margin-left: 85px;
}
.a h5 {
  margin-top: -30px;
  margin-left: 75px;
}
.b h5 {
  margin-top: -30px;
  margin-left: 75px;
}
.cat1 {
  background-color: tomato;
  border: 1px solid tomato;
  border-radius: 20px;
}
.cat2 {
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  border-radius: 20px;
}
.cat3 {
  background-color: greenyellow;
  border: 1px solid greenyellow;
  border-radius: 20px;
}
.gap {
  padding-top: 15px;
}
